@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1250px) {
  body {
    background-image: url(../img/index-background-desktop.jpg);
    background-repeat: no-repeat;
    background-position: 50vw 0;
  }
}

@media (max-width: 767px) {
  .page-header {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header__logo {
    display: block;
    height: 65px;
    padding-left: 20px;
    padding-top: 11px;
  }
  .page-header__logoname {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
  }
  .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo:hover {
    opacity: 0.8;
  }
  .page-header__logo:active {
    opacity: 0.6;
  }
  .page-header__logoname {
    width: 86px;
    height: auto;
    margin-left: 18px;
  }
}

@media (min-width: 1250px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54px;
  }
  .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo:hover {
    opacity: 0.8;
  }
  .page-header__logo:active {
    opacity: 0.6;
  }
  .page-header__logoname {
    width: 120px;
    height: auto;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .main-nav__toggle {
    position: absolute;
    right: 20px;
    top: -42px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
  }
  .main-nav--closed .main-nav__toggle {
    background-image: url(../../img/mobile-menu.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-nav--opened .main-nav__toggle {
    background-image: url(../../img/m-close.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1250px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-list__item {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-list__item:first-child {
    border-top: 1px solid #e6e6e6;
  }
  .site-list__link {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
  }
  .site-list__link:hover {
    opacity: 0.6;
  }
  .site-list__link:active {
    opacity: 0.3;
  }
  .site-list__item--active a {
    cursor: default;
  }
  .site-list__item--active a:hover {
    opacity: 1;
  }
  .site-list__item--active a:active {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__link {
    display: block;
    margin-left: 36px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #222222;
  }
  .site-list__link:hover {
    opacity: 0.6;
  }
  .site-list__link:active {
    opacity: 0.3;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #68b738;
    cursor: default;
  }
  .site-list__item--active a:hover {
    opacity: 1;
  }
  .site-list__item--active a:active {
    opacity: 1;
  }
}

@media (min-width: 1250px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__link {
    display: block;
    margin-left: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
  }
  .site-list__link:hover {
    opacity: 0.6;
  }
  .site-list__link:active {
    opacity: 0.3;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #ffffff;
    cursor: default;
  }
  .site-list__item--active a:hover {
    opacity: 1;
  }
  .site-list__item--active a:active {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .page-main {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .page-main {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .main-banner {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(../../img/index-background-mobile.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
  }
  .main-banner__title {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    color: #ffffff;
  }
  .main-banner__slogan {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
  }
  .main-banner__image img {
    margin-top: 30px;
  }
  .main-banner__button {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
  }
  .main-banner__button:hover {
    background-color: #5eaa2f;
  }
  .main-banner__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .main-banner {
    position: relative;
    text-align: center;
  }
  .main-banner__title {
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 55px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    text-align: left;
  }
  .main-banner__slogan {
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-align: left;
  }
  .main-banner__image img {
    margin-top: 20px;
  }
  .main-banner__button {
    position: absolute;
    top: 220px;
    left: 90px;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
  }
  .main-banner__button:hover {
    background-color: #5eaa2f;
  }
  .main-banner__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 1250px) {
  .main-banner {
    position: relative;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner__title {
    padding: 0;
    margin: 0;
    margin-left: 83px;
    margin-top: 110px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .main-banner__slogan {
    margin: 0;
    padding: 0;
    margin-left: 83px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .main-banner__image {
    position: absolute;
    top: -80px;
    left: 440px;
  }
  .main-banner__button {
    display: inline-block;
    margin-left: 83px;
    margin-top: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
  }
  .main-banner__button:hover {
    background-color: #5eaa2f;
  }
  .main-banner__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 767px) {
  .catalog-categories {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .catalog-categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-categories__item {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  .catalog-categories__title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__title::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
  }
  .catalog-categories__title::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  .catalog-categories__title--slim::after {
    left: 5px;
    top: -8px;
    width: 41px;
    height: 49px;
    background-image: url(../../svg/cat-1.svg);
  }
  .catalog-categories__title--pro::after {
    left: -8px;
    top: 6px;
    width: 67px;
    height: 28px;
    background-image: url(../../svg/cat-2.svg);
  }
  .catalog-categories__text {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    border-bottom: 1px solid #dadada;
  }
  .catalog-categories__link {
    position: relative;
    padding-right: 30px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__link::after {
    content: "";
    width: 24px;
    height: 11px;
    position: absolute;
    top: 8px;
    right: 0px;
    background-image: url(../../svg/icon-right-arrow.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .catalog-categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-categories__item {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 315px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
  }
  .catalog-categories__title {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__title::before {
    content: "";
    position: absolute;
    left: 400px;
    top: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
  }
  .catalog-categories__title::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  .catalog-categories__title--slim::after {
    left: 430px;
    top: 15px;
    width: 160px;
    height: 222px;
    background-image: url(../../svg/cat-1.svg);
  }
  .catalog-categories__title--pro::after {
    left: 360px;
    top: 65px;
    width: 268px;
    height: 112px;
    background-image: url(../../svg/cat-2.svg);
  }
  .catalog-categories__text {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .catalog-categories__link {
    position: relative;
    padding-right: 40px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__link:active {
    opacity: 0.3;
  }
  .catalog-categories__link::after {
    content: "";
    width: 24px;
    height: 11px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-image: url(../../svg/icon-right-arrow.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 1250px) {
  .catalog-categories {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
  }
  .catalog-categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog-categories__item {
    width: 570px;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 54px;
    padding-right: 54px;
    background-color: #f2f2f2;
  }
  .catalog-categories__title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 160px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__title::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -28px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #68b738;
  }
  .catalog-categories__title::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  .catalog-categories__title--slim::after {
    left: 15px;
    top: -30px;
    width: 80px;
    height: 134px;
    background-image: url(../../svg/cat-1.svg);
    background-size: contain;
  }
  .catalog-categories__title--pro::after {
    left: -23px;
    top: -5px;
    width: 134px;
    height: 56px;
    background-image: url(../../svg/cat-2.svg);
    background-size: contain;
  }
  .catalog-categories__text {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .catalog-categories__link {
    position: relative;
    padding-right: 40px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .catalog-categories__link:active {
    opacity: 0.3;
  }
  .catalog-categories__link::after {
    content: "";
    width: 24px;
    height: 11px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-image: url(../../svg/icon-right-arrow.svg);
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .advantages__title {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .advantages {
    padding-left: 20px;
    padding-right: 20px;
  }
  .advantages__item {
    position: relative;
    padding-left: 78px;
    margin-bottom: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
  }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
  .advantages__item::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }
  .advantages__item--eco::after {
    top: -2px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url(../../img/eco-icon.png);
  }
  .advantages__item--format::after {
    top: -2px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url(../../img/format-icon.png);
  }
  .advantages__item--food::after {
    top: -2px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url(../../img/food-icon.png);
  }
  .advantages__item--time::after {
    top: -2px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-image: url(../../img/time-icon.png);
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .advantages__title {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    position: relative;
    width: 251px;
    margin-right: 80px;
    padding-top: 115px;
    margin-bottom: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .advantages__item::before {
    position: absolute;
    top: -39px;
    left: 120px;
    font-family: 'Oswald', sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    z-index: -1;
  }
  .advantages__item--eco::before {
    content: "1";
  }
  .advantages__item--format::before {
    content: "2";
  }
  .advantages__item--food::before {
    content: "3";
  }
  .advantages__item--time::before {
    content: "4";
  }
  .advantages__item::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }
  .advantages__item--eco::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/eco-icon.png);
  }
  .advantages__item--format::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/format-icon.png);
  }
  .advantages__item--food::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/food-icon.png);
  }
  .advantages__item--time::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/time-icon.png);
  }
}

@media (min-width: 1250px) {
  .advantages {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__title {
    padding: 0;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    position: relative;
    width: 251px;
    padding-top: 115px;
    margin-bottom: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .advantages__item::before {
    position: absolute;
    top: -39px;
    left: 120px;
    font-family: 'Oswald', sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    z-index: -1;
  }
  .advantages__item--eco::before {
    content: "1";
  }
  .advantages__item--format::before {
    content: "2";
  }
  .advantages__item--food::before {
    content: "3";
  }
  .advantages__item--time::before {
    content: "4";
  }
  .advantages__item::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }
  .advantages__item--eco::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/eco-icon.png);
  }
  .advantages__item--format::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/format-icon.png);
  }
  .advantages__item--food::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/food-icon.png);
  }
  .advantages__item--time::after {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-image: url(../../img/time-icon.png);
  }
}

@media (max-width: 767px) {
  .example {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }
  .example__title {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #111111;
  }
  .example__text {
    padding-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
  }
  .example__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__info-wrap {
    margin-bottom: 35px;
    width: 124px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    text-align: center;
  }
  .example__info-title {
    padding: 0;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 3px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: #111111;
  }
  .example__info-desc {
    width: 87px;
    padding: 7px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #444444;
    text-align: center;
    background-color: #f2f2f2;
  }
  .example__info-wrap--atype {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .example__info-desc--atype {
    padding: 0;
    margin: 0;
    padding-right: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .example__info-title--atype {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .example__galery {
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .example {
    padding-top: 50px;
    margin-top: -40px;
    border-top: 1px solid #f2f2f2;
  }
  .example__title {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .example__text {
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .example__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  .example__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .example__info-wrap {
    width: 162px;
    height: 72px;
    margin-right: 40px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    text-align: center;
  }
  .example__info-title {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .example__info-desc {
    display: inline-block;
    padding: 8px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #444444;
    text-align: center;
    background-color: #ffffff;
  }
  .example__info-wrap--atype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .example__info-desc--atype,
  .example__info-title--atype {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-align: right;
  }
  .example__galery {
    padding-top: 120px;
  }
}

@media (min-width: 1250px) {
  .example {
    width: 100%;
  }
  .example__title {
    padding: 0;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 7.63%;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
  .example__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #f2f2f2;
  }
  .example__wrap {
    padding-left: 7.63%;
    background-color: #f2f2f2;
  }
  .example__text {
    margin: 0;
    padding: 0;
    padding-top: 75px;
    padding-bottom: 70px;
    width: 430px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
  .example__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 366px;
    margin: 0;
    padding: 0;
  }
  .example__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__info-wrap {
    width: 162px;
    height: 72px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    text-align: center;
  }
  .example__info-title {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
  }
  .example__info-desc {
    display: inline-block;
    padding: 8px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #444444;
    text-align: center;
    background-color: #f2f2f2;
  }
  .example__info-wrap--atype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 70px;
  }
  .example__info-desc--atype,
  .example__info-title--atype {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-align: right;
  }
  .example__info-desc--atype {
    margin-right: 63px;
  }
  .example__galery {
    margin-right: 7.63%;
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .galery {
    text-align: center;
  }
  .galery__slider-box {
    text-align: center;
  }
  .galery__slider-label {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
  }
  .galery__slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 84px;
    height: 14px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
  }
  .galery__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #68b738 30%, #ffffff 31%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #68b738 30%, #ffffff 31%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-moz-range-thumb:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-webkit-slider-thumb:active {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__slider::-moz-range-thumb:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__container {
    width: 320px;
    height: 240px;
    margin-left: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galery__container-img {
    width: 50%;
  }
  .galery__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galery__image--before {
    -o-object-position: right;
       object-position: right;
  }
  .galery__image--after {
    -o-object-position: left;
       object-position: left;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .galery {
    position: relative;
    text-align: center;
  }
  .galery__slider-box {
    padding-top: 350px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #f2f2f2;
  }
  .galery__slider-label {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    border-bottom: 1px solid #d0d0d0;
  }
  .galery__slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 428px;
    height: 6px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }
  .galery__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, #68b738 20%, #ffffff 21%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, #68b738 20%, #ffffff 21%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-moz-range-thumb:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-webkit-slider-thumb:active {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__slider::-moz-range-thumb:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 120px;
    width: 677px;
    height: 499px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galery__container-img {
    width: 50%;
  }
  .galery__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galery__image--before {
    -o-object-position: right;
       object-position: right;
  }
  .galery__image--after {
    -o-object-position: left;
       object-position: left;
  }
}

@media (min-width: 1250px) {
  .galery {
    position: relative;
    width: 677px;
  }
  .galery__slider-box {
    text-align: center;
  }
  .galery__slider-label {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    border-bottom: 1px solid #d0d0d0;
  }
  .galery__slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 428px;
    height: 6px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }
  .galery__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, #68b738 20%, #ffffff 21%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background: radial-gradient(circle, #68b738 20%, #ffffff 21%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .galery__slider::-webkit-slider-thumb:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-moz-range-thumb:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .galery__slider::-webkit-slider-thumb:active {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__slider::-moz-range-thumb:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #68b738;
  }
  .galery__container {
    position: absolute;
    right: 0;
    bottom: 120px;
    width: 677px;
    height: 499px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galery__container-img {
    width: 50%;
  }
  .galery__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galery__image--before {
    -o-object-position: right;
       object-position: right;
  }
  .galery__image--after {
    -o-object-position: left;
       object-position: left;
  }
}

@media (max-width: 767px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .contacts__info {
    width: 123px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }
  .contacts__adress {
    width: 140px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
  }
  .contacts__map {
    width: 100%;
    height: 362px;
    background-color: #68b738;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 65px;
    padding-bottom: 60px;
  }
  .contacts__info {
    width: 154px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    color: #111111;
    text-transform: uppercase;
  }
  .contacts__adress {
    width: 155px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-align: right;
  }
  .contacts__adress span {
    display: block;
    padding-top: 20px;
  }
  .contacts__map {
    width: 100%;
    height: 396px;
    background-color: #68b738;
  }
}

@media (min-width: 1250px) {
  .contacts {
    position: relative;
  }
  .contacts__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
  }
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 570px;
    padding-left: 75px;
    padding-right: 90px;
    padding-top: 65px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  .contacts__info {
    width: 154px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    color: #111111;
    text-transform: uppercase;
  }
  .contacts__adress {
    width: 155px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
  .contacts__adress span {
    display: block;
    padding-top: 20px;
  }
  .contacts__map {
    width: 100%;
    height: 396px;
    background-color: #68b738;
  }
}

@media (max-width: 767px) {
  .page-footer {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f2f2f2;
  }
  .page-footer__logo-wpap {
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #dadada;
  }
  .page-footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-footer__logo:hover {
    opacity: 0.8;
  }
  .page-footer__logo:active {
    opacity: 0.6;
  }
  .page-footer__social {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dadada;
  }
  .page-footer__copyright {
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .page-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-top: 58px;
    padding-right: 32px;
    padding-bottom: 58px;
    background-color: #f2f2f2;
  }
  .page-footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 162px;
  }
  .page-footer__logo:hover {
    opacity: 0.8;
  }
  .page-footer__logo:active {
    opacity: 0.6;
  }
  .page-footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 162px;
  }
}

@media (min-width: 1250px) {
  .page-footer {
    background-color: #f2f2f2;
  }
  .page-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .page-footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 162px;
  }
  .page-footer__logo:hover {
    opacity: 0.8;
  }
  .page-footer__logo:active {
    opacity: 0.6;
  }
  .page-footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 162px;
  }
}

@media (max-width: 767px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .social-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__link svg,
  .social-list__link svg path,
  .social-list__link svg circle {
    fill: #666666;
  }
  .social-list__link:hover svg,
  .social-list__link:hover svg path,
  .social-list__link:hover svg circle {
    fill: #68b738;
  }
  .social-list__link:active svg,
  .social-list__link:active svg path,
  .social-list__link:active svg circle {
    fill: #68b738;
    opacity: 0.5;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__item {
    padding-left: 14px;
    padding-right: 14px;
  }
  .social-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__link--vk svg {
    width: 30px;
    height: 16px;
  }
  .social-list__link--insta svg {
    width: 23px;
    height: 23px;
  }
  .social-list__link--fb svg {
    width: 14px;
    height: 28px;
  }
  .social-list__link svg,
  .social-list__link svg path,
  .social-list__link svg circle {
    fill: #666666;
  }
  .social-list__link:hover svg,
  .social-list__link:hover svg path,
  .social-list__link:hover svg circle {
    fill: #68b738;
  }
  .social-list__link:active svg,
  .social-list__link:active svg path,
  .social-list__link:active svg circle {
    fill: #68b738;
    opacity: 0.5;
  }
}

@media (min-width: 1250px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__item {
    padding-left: 14px;
    padding-right: 14px;
  }
  .social-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-list__link--vk svg {
    width: 30px;
    height: 16px;
  }
  .social-list__link--insta svg {
    width: 23px;
    height: 23px;
  }
  .social-list__link--fb svg {
    width: 14px;
    height: 28px;
  }
  .social-list__link svg,
  .social-list__link svg path,
  .social-list__link svg circle {
    fill: #666666;
  }
  .social-list__link:hover svg,
  .social-list__link:hover svg path,
  .social-list__link:hover svg circle {
    fill: #68b738;
  }
  .social-list__link:active svg,
  .social-list__link:active svg path,
  .social-list__link:active svg circle {
    fill: #68b738;
    opacity: 0.5;
  }
}

@media (max-width: 767px) {
  .copyright__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright__link:hover .copyright__icon {
    fill: #68b738;
  }
  .copyright__link:active {
    opacity: 0.5;
  }
  .copyright__link:active .copyright__icon {
    fill: #68b738;
  }
  .copyright__title {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
  .copyright__icon {
    fill: #666666;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .copyright__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 162px;
  }
  .copyright__link:hover .copyright__icon {
    fill: #68b738;
  }
  .copyright__link:active {
    opacity: 0.5;
  }
  .copyright__link:active .copyright__icon {
    fill: #68b738;
  }
  .copyright__title {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
  .copyright__icon {
    fill: #666666;
  }
}

@media (min-width: 1250px) {
  .copyright__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 162px;
  }
  .copyright__link:hover .copyright__icon {
    fill: #68b738;
  }
  .copyright__link:active {
    opacity: 0.5;
  }
  .copyright__link:active .copyright__icon {
    fill: #68b738;
  }
  .copyright__title {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
  .copyright__icon {
    fill: #666666;
  }
}
