@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1200px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1250px) {
  body {
    background-image: url(../img/index-background-desktop.jpg);
    background-repeat: no-repeat;
    background-position: 50vw 0;
  }
}

@media (max-width: 767px) {
  .page-header {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header__wrapper {
    height: 65px;
    padding-left: 20px;
    padding-top: 11px;
  }
  .page-header__logoname {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
  }
  .page-header__logoname {
    display: none;
  }
}

@media (min-width: 1250px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54px;
  }
  .page-header__logoname {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .main-nav__toggle {
    position: absolute;
    right: 20px;
    top: -42px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
  }
  .main-nav--closed .main-nav__toggle {
    background-image: url(../../img/mobile-menu.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-nav--opened .main-nav__toggle {
    background-image: url(../../img/m-close.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1250px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-list__item {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-list__item:first-child {
    border-top: 1px solid #e6e6e6;
  }
  .site-list__link {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__link {
    display: block;
    margin-left: 36px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #222222;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: 1250px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-list__link {
    display: block;
    margin-left: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #ffffff;
  }
}

@media (max-width: 767px) {
  .page-main {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .page-main {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .main-banner {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(../../img/index-background-mobile.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
  }
  .main-banner__title {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    color: #ffffff;
  }
  .main-banner__slogan {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
  }
  .main-banner__image img {
    margin-top: 30px;
  }
  .main-banner__button {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
  }
}

@media (min-width: 768px) and (max-width: 1249px) {
  .main-banner {
    position: relative;
    text-align: center;
  }
  .main-banner__title {
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 55px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    text-align: left;
  }
  .main-banner__slogan {
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-align: left;
  }
  .main-banner__image img {
    margin-top: 20px;
  }
  .main-banner__button {
    position: absolute;
    top: 220px;
    left: 90px;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
  }
}
