.button {
  display: block;
  padding: 10px;
  
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color-white;
  text-transform: uppercase;

  background-color: $main-color;
}