@media (max-width: 767px) {

    .main-nav {
        position: relative;
    }

    .main-nav__toggle {
        position: absolute;
        right: 20px;
        top: -42px;
        width: 24px;
        height: 18px;
        
        background-image: url(../../img/mobile-menu.png);
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .main-nav__toggle {
        display: none;
    }
}