@media (max-width: ($tablet-width - 1)) {

    .page-header {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    } 
    .page-header__wrapper {
        height: 65px;

        padding-left: 20px;
        padding-top: 11px;
    } 
    .page-header__logoname {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 24px;
    }    
}

@media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 708px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 24px;
    }
    .page-header__logoname {
        display: none;
    }
}

@media (min-width: $desktop-width) {

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 1200px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 54px;
    }
    .page-header__logoname {
        display: none;
    }
}
