@media (max-width: 767px) {

    .page-header {
        min-width: 320px;
    }

    .page-header__logo {
        display: block;

        height: 65px;
        padding-left: 20px;
        padding-top: 11px;

        border-bottom: 1px solid #e6e6e6;
    }

    .page-header__logoname {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 24px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-header__logoname {
        display: none;
    }
}