@media (max-width: ($tablet-width - 1)) {  
    .site-list {
        display: flex;
        flex-direction: column;
    }
    .site-list__item {
        border-bottom: 1px solid #e6e6e6;
    }
    .site-list__item:first-child {
        border-top: 1px solid #e6e6e6;
    }
    .site-list__link {
        display: block;
    
        padding-top: 22px;
        padding-bottom: 22px;
    
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.3;
        }
    }
    .site-list__item--active a {
        cursor: default;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
    }
}

@media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    .site-list {
        display: flex;
        flex-direction: row;
    }
    .site-list__link {
        display: block;

        margin-left: 36px;
        padding-bottom: 8px;
        padding-top: 8px;

        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        text-transform: uppercase;
        color: $text-color-alt;

        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.3;
        }
    }
    .site-list__item--active a {
        border-bottom: 2px solid $main-color;

        cursor: default;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
    }
}

@media (min-width: $desktop-width) { 
    .site-list {
        display: flex;
        flex-direction: row;
    }  
    .site-list__link {
        display: block;

        margin-left: 36px;
        padding-bottom: 12px;
        padding-top: 12px;

        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        text-transform: uppercase;
        color: $text-color-white;

        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.3;
        }
    } 
    .site-list__item--active a {
        border-bottom: 2px solid $text-color-white;
        
        cursor: default;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
    }
}